body {
    
   background-color:black;
}
.row1 {
    border: solid 0px red;
    height: 28px;
    background-color:black;
        
}
.row2 {
    border: solid 0px red;
    height: 72px;
    background-color:black;
        
}
.col1 {
    float:left;
    border: solid 0px white;
    height: 100%;
    width:70px;
    margin-left:35px;
}

.col2 {
    float:left;
    border: solid 0px white;
    height: 100%;
    width:150px;
    margin-left:10px;  
}
.word {
    border:solid 0px white;
    margin-top:15px;
    color:white;
    text-align:center;
    font-size:29px;
}
.col3 {
    float:right;
    border: solid 0px white;
    height: 100%;
    width:150px;
    margin-right:35px;
    
}
.word1 {
    border:solid 0px white;
    margin-top:20px;
    color:white;
    text-align:center;
    font-size:20px;
}
.col4 {
    float:right;
    border: solid 0px white;
    height: 100%;
    width:90px;
    margin-right:10px;
    
}
.word2 {
    border:solid 0px white;
    margin-top:20px;
    color:white;
    text-align:center;
    font-size:20px;
}
.row3 {
    border-bottom: solid 2px red;
    height: 28px;
    
}
.row4 {
    border: solid 0px red;
    height: 40px;
  
}
.row4_col {
    float:left;
    border: solid 0px white;
    height: 40px;
    width:90px;
    margin-left:120px;
}
.word3 {
    border:solid 0px white;
    color:white;
    font-size:20px;
    margin-top:20px;
}

.row5 {
    border: solid 0px yellow;
    height: 28px;
    
}
.movie_row1 {
    border: solid 2px white;
    height:277px;
    width:1400px;
    margin:auto;
    margin:0px 120px 0px 120px;
}
.image_col1 {
    float:left;
    border: solid 2px white;
    height: 252px;
    width:200px;
    margin-right:35px;
    
}
.detail_col1 {
    float:left;
    border: solid 2px white;
    height: 252px;
    width:1100px;
    color:white;
}
.All_details{
    float:left;
    border: solid 2px white;
    height: 150px;
    width:1100px;
    color:white;
    
}
.Action_row{
    border:solid 1px white;
    margin-top:209px;
    height:40px; 
    width:1030px;  
}

.like{
    float:left;
    border: solid 2px white;
    height: 100%;
    width:45px;
}

.count {
    float:left;
    border: solid 2px white;
    height: 100%;
    width:40px;
    text-align:center;
}

.dislike {
    float:left;
    border: solid 2px white;
    height: 100%;
    width:47px;
}
.delete{
    float:right;
    border:solid 2px white;
    margin-top:-40px
}
.footer_row{
    width:100%;
    height:350px;
    color:white;
}
.space{
    width:1000px;
    height:350px;
    margin:auto;
}
.new_movie{
    width:170px;
    height:50px;
    margin-top:80px;
}
.text{
    margin:20px;   
}
.Add_new_movie{
    width:150px;
    height:52px;
    background:red;
}
.open_form{
    padding:15px 0px 0px 20px;
    background:red;
}
